<%- include("header") -%>

<div class="about-section">
  <h1>About This Project</h1>
  <p>
    This To-Do List App was created by <strong>Imran Murtala</strong> during his
    8-week SIWES program.
  </p>
  <p>
    It helps users manage daily and work-related tasks efficiently with options
    to add, mark, and delete items.
  </p>
</div>

<%- include("footer") -%>
