<<<<<<< HEAD
    <footer>
      <p>&copy; 2025 Imran Murtala — All Rights Reserved.</p>
    </footer>
  </body>
</html>
=======

    <footer>
      <p style="text-align: center; color: black; font-size: medium;">
        &copy; 2025 Imran Murtala . All rights reserved.
      </p>
    </footer>
  </body>
</html>
>>>>>>> 26403c7 (Fix: use dynamic port and start script)
