<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= listTitle %> | ToDoList</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>

  <body>
    <header class="navbar">
      <div class="logo">ToDoList</div>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/work">Work</a></li>
          <li><a href="/about">About</a></li>
        </ul>
      </nav>
    </header>
